@use "../../App.scss" as *;

.userCard {
  width: 360px;
  height: 168px;
  padding: 24px;
  border-radius: 16px;
  background-color: $gray-50;
  display: flex;
  position: relative;

  @media (max-width: 768px) {
    padding: 16px;
    width: 162px;
    height: 242px;
    flex-direction: column;
  }

  &.archived {
    filter: grayscale(100%);
  }

  .avatar {
    width: 112px;
    height: 120px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    .avatarCardMob{
        display: none;
    }

    .avatarCard{
        display: block;
    }

    @media (max-width: 768px){
        margin-bottom: 16px;   
        width: 130px;
        height: 120px;

        .avatarCardMob{
        display: block;
    }
    .avatarCard{
        display: none;
    }
    }
  }

  .info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    @media (max-width: 768px) {
        margin-left: 0;
    }

    .infoTop {
        
      .userName {
        display: flex;
        align-items: center;
        
        justify-content: space-between;
        span{
        @include headline;
        color: $accent;
        margin-bottom: 4px;
        overflow: hidden;
        white-space: nowrap;
        @media (max-width: 768px){
            max-width: 100px;
        }
        }
        

        svg {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            path {
              fill: $accent;
            }
          }
        }

        .dropDownMenu {
          position: absolute;
          background-color: $gray-50;
          width: 184px;
          padding: 8px;
          right: -100px;
          top: 35%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 8px;
          border-radius: 12px;
          z-index: 999;

          @media (max-width: 768px) {
            width: 144px;
            right: 0;
            top: 40%;
          }

          .dropDownMenuItem {
            @include text2;
            color: $gray-900;
            padding: 8px 12px;
            cursor: pointer;

            &:hover {
              color: $accent;
            }
          }
        }
      }
      .userWork {
        @include text2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $gray-700;

        @media (max-width: 768px){
            width: 100px;
        }
      }
    }

    .infoBot {
      .userCity {
        @include caption;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: $gray-500;
      }
    }
  }
}
