@use "../../App.scss" as *;

.UserEditorPage {
  .container {
    @media (max-width: 768px) {
      padding: 0 15px;
    }
    .back {
      padding: 20px 0;
      display: flex;
      align-items: center;
      gap: 8px;
      @include headline;
      color: $gray-700;

      svg {
        cursor: pointer;
      }

      .arrowIcon {
        display: block;
      }

      .arrowIconMob {
        display: none;
      }

      @media (max-width: 768px) {
        padding: 13px 0;
        .arrowIcon {
          display: none;
        }

        .arrowIconMob {
          display: block;
        }
      }

      span {
        cursor: pointer;
      }
    }

    .UserEditorPageMain {
      padding: 24px 0;
      display: flex;
      gap: 40px;

      @media (max-width: 768px) {
        flex-direction: column;
        gap: 32px;
      }

      .info {
        padding: 40px;
        max-width: 360px;
        max-height: 813px;
        background-color: $gray-50;
        border-radius: 16px;
        .infoImg {
          border-radius: 8px;
          max-width: 280px;
          max-height: 485px;
          margin-bottom: 40px;
        }

        .infoDetailed {
          display: flex;
          flex-direction: column;
          gap: 24px;

          .infoTitle {
            @include text2s;
            color: $gray-900;
            padding-bottom: 12px;
            border-bottom: 1px solid $gray-300;
          }

          .infoDesc {
            @include text2;
            color: $gray-500;
            padding-bottom: 12px;
            border-bottom: 1px solid $gray-300;
          }
        }
      }

      .editor {
        flex: 1;
        padding: 40px;
        background-color: $gray-50;
        border-radius: 16px;

        @media (max-width: 768px) {
          padding: 28px;
        }

        .editorTitle {
          @include userPageTitle;
          margin-bottom: 24px;
        }
      }
    }
  }
}

.modalWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #16161624;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    width: 310px;
    height: 211px;
    background-color: $gray-50;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    @media (max-width: 768px) {
      width: 271px;
      height: 189px;
    }

    svg {
      position: absolute;
      top: 12px;
      right: 12px;
      cursor: pointer;
    }

    .modalText {
      @include headline;
      color: $gray-700;
      margin-top: 20px;
    }
  }
}
