@use "../../App.scss" as *;

.layout {
  .header {
    padding: 16px 0;
    background-color: $gray-50;

    .container {
      max-width: 1160px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 1200px) {
        padding: 0 15px;
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 20px;

        .profileActions {
          display: flex;
          align-items: center;
          gap: 4px;

          @media (max-width: 768px) {
            display: none;
          }

          .heartIcon {
            cursor: pointer;
            &:hover {
              path {
                stroke: $accent;
              }
            }
          }

          .bellIcon {
            cursor: pointer;
            &:hover {
              path {
                fill: $accent;
              }
            }
          }
        }

        .profileInfo {
          display: flex;
          align-items: center;
          gap: 8px;

          .profileImg {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 20px;
              height: 20px;
              border-radius: 50px;
            }
          }

          .profileName {
            @include text1;
          }
        }
      }
    }
  }
}
