@font-face {
  font-family: "Manrope-Regular";
  src: url("./assets/fonts/Manrope-Regular.ttf");
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("./assets/fonts/Manrope-Medium.ttf");
}
@font-face {
  font-family: "Manrope-Semibold";
  src: url("./assets/fonts/Manrope-SemiBold.ttf");
}

@mixin title {
  font-family: "Manrope-Semibold";
  font-size: 24px;
  font-weight: 600;
}

@mixin headline {
  font-family: "Manrope-Semibold";
  font-size: 20px;

  @media (max-width: 768px){
    font-size: 18px;
  }
}


$accent: #22A0BC;
$gray-900: #161616;
$gray-700: #595959;
$gray-500: #9C9C9C;
$gray-300: #DADADA;
$gray-100: #F4F4F4;
$gray-50:  #FDFDFD;

@mixin text1s {
  font-family: "Manrope-Semibold";
  font-size: 18px;

  @media (max-width: 768px){
    font-size: 16px;
  }
}

@mixin text1 {
  font-family: "Manrope-Medium";
  font-size: 18px;

  @media (max-width: 768px){
    font-size: 16px;
  }
}

@mixin text2s {
  font-family: "Manrope-Semibold";
  font-size: 16px;

  @media (max-width: 768px){
    font-size: 14px;
  }
}

@mixin text2 {
  font-family: "Manrope-Medium";
  font-size: 16px;

  @media (max-width: 768px){
    font-size: 14px;
  }
}

@mixin caption {
  font-family: "Manrope-Regular";
  font-size: 14px;

  @media (max-width: 768px){
    font-size: 10px;
  }
}

@mixin userPageTitle{
  @include title;
  width: 100%;
  border-bottom: 1px solid $gray-300;
  padding-bottom: 16px;
}

.container{
  max-width: 1160px;
  margin: 0 auto;
}

body{
      background-color: $gray-100;
}